.password-display__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 16px;
  background-color: var(--dark-grey);
}

@media (min-width: 768px) {
  .password-display__container {
    padding: 18px 32px;
  }
}

.password-display--title {
  height: 32px;
  font-size: var(--medium-font-size);
  color: var(--almost-white);
  word-break: break-all;
}

.password-display--title.empty::before {
  content: "P4$5W0rD!";
}

.password-display--title.empty {
  opacity: 0.25;
}

@media (min-width: 768px) {
  .password-display--title {
    font-size: var(--large-font-size);
  }
}

.copy_icon--inactive {
  cursor: pointer;  
}

@media (min-width: 768px) {
  .copy_icon {
    width: 22px;
    height: 24px;
  }
}

.password-display-copy__container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.password-display--status {
  font-size: var(--regular-font-size);
  color: var(--neon-green);
}

.password-display--status.copied {
  display: flex;
}

