.password-generator__container {
	padding: 16px;
  	background-color: var(--secondary-background-color, #24232B);
}	

@media (min-width: 768px) {
	.password-generator__container {
		padding: 32px;
	}
}