.strength-display__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
	padding: 14px 16px;
	background-color: var(--very-dark-grey);
}

@media (min-width: 768px) {
 .strength-display__container {
 	margin-bottom: 32px;
 } 
}

@media (min-width: 768px) {
	.strength-display__container {
		padding: 20px 32px;
	}
}

.strength-display__label {
	display: flex;
	align-items: center;
	font-size: var(--regular-font-size);
	color: var(--grey);
}

@media (min-width: 768px) {
	.strength-display__label {
		font-size: var(--small-font-size);
	}	
}

.strength-display__status-container {
    display: flex;
    gap: 16px;
    align-items: center;
}

.strength-display--status {
	font-size: var(--small-font-size);
	color: var(--almost-white);
}

@media (min-width: 768px) {
	.strength-display--status {
		font-size: var(--medium-font-size);
	}
}

.strength-bar__container {
	display: flex;
    gap: 8px;
}

.strength-bar__container.status-red .strength-bar:not(.empty) {
	background-color: var(--red);
	border-color: var(--red);
}

.strength-bar__container.status-orange .strength-bar:not(.empty) {
	background-color: var(--orange);
	border-color: var(--orange);
}

.strength-bar__container.status-yellow .strength-bar:not(.empty) {
	background-color: var(--yellow);
	border-color: var(--yellow);
}

.strength-bar__container.status-neon-green .strength-bar:not(.empty) {
	background-color: var(--neon-green);
	border-color: var(--neon-green);
}

.strength-bar {
	width: 10px;
    height: 28px;
    display: inline-block;
    border: 2px solid #E6E5EA;
}