body {
	/* COLORS */
    --dark-grey: #24232C;
    --grey: #817D92;
    --almost-white: #E6E5EA;
    --very-dark-grey: #18171F;
    --neon-green: #A4FFAF;
    --red: #F64A4A;
    --orange: #FB7C58;
    --yellow: #F8CD65;
    --white: #fff;

    /* FONT */
    --base-font-family: 'JetBrains Mono', monospace;
    --base-text-color: var(--almost-white);
    --regular-font-size: 1rem;
    --small-font-size: 1.125rem;
    --medium-font-size: 1.5rem;
    --large-font-size: 2rem;
}